# Error file
/C.2

# Cython byproducts
/skeletor/cython/*.c
/skeletor/cython/*.so
/skeletor/cython/*.html

# Build directory
/build

# Python cache
__pycache__

# pytest cache
/.cache

# Vim swap files
*.swp
*.swo

# Object files
*.o

# Jupyter notebook checkpoints
/ipython/.ipynb_checkpoints

# Data directory created by tests/test_experiment_class.py
/data/run_oct1
