# Error file
/C.2

# Cython byproducts
/ppic2_wrapper.c
/ppic2_wrapper.*.so
/ppic2_wrapper.html
/dtypes.c
/dtypes.*.so
/dtypes.html
/deposit.c
/deposit.*.so
/deposit.html

# Python cache
__pycache__

# Vim swap files
*.swp

# Object files
*.o

# Jupyter notebook checkpoints
/.ipynb_checkpoints
