# Error file
/C.2

# Cython byproducts
/skeletor/cython/*.c
/skeletor/cython/*.so
/skeletor/cython/*.html

# Python cache
__pycache__

# pytest cache
/.cache

# Vim swap files
*.swp

# Object files
*.o

# Jupyter notebook checkpoints
/.ipynb_checkpoints
